body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.center {
  text-align: center;
}

.spacer {
  padding: 30px;
}

.team-pic {
  margin-bottom: 20px;
}

.branding-blue {
  color: rgb(164, 194, 244);
}
